.calendar-wrapper {
  .react-calendar {
    border: none;
    max-width: 300px;
    font-family: "Comic Sans MS", cursive; // Используем мультяшный шрифт
  }

  .react-calendar__tile {
    border: none;
    border-radius: 50%; // Делаем ячейки круглыми
    background-color: #fff;
    color: #ff69b4; // Розовый цвет текста
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .react-calendar__tile:hover {
    background-color: #f0f0f0;
  }

  .react-calendar__tile--now {
    background-color: #ff7f50;
    color: #fff;
  }

  .react-calendar__tile--active {
    background-color: #ff7f50;
    color: #fff;
  }

  .react-calendar__tile--hasActive {
    background-color: #ffdab9;
  }

  .react-calendar__tile--rangeStart,
  .react-calendar__tile--rangeEnd {
    background-color: #ffb6c1;
  }

  .custom-tile {
    font-size: 20px;
    color: #ff69b4;
  }
}
