.muzik {
  position: fixed;
  top: 20px;
  right: 10px;
  width: 80px;
  height: 80px;
  border: none;
  padding: 0;
  background: none;
}
.muzik img {
  width: 100%; /* Растягиваем изображение на всю кнопку */
  height: 100%; /* Растягиваем изображение на всю кнопку */
}
